.fenetre .banner .subtitle{
    display: none;
}

.fenetre .banner .subtitle.active {
    display: block;
}

.fenetre .home img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 5%;
}

.fenetre .home .buttons-container {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 50%;
    height: 20%;
    display: flex;
    gap: 20px;
}

.fenetre .home .playButton {
    background: #F70000;
    border-radius: 25px;
    color: #FFF;
    flex: 1;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.fenetre .home .playButton:hover {
    background: #d10000;
}